### Conditionals

In [28]:
from itertools import product

### 1. 
Modify the code below so that it prints on screen whether the number is even, odd or zero (Hint: use the % operator)

In [4]:
a = 3
def is_even(a):
    
    print("The number", a, "is:", end=' ')
    
    ###########################################
    # add your conditional statements here
    if a==0:
        print('zero')
    elif 3%2==0:
        print('even')
    else:
        print('odd')
    ###########################################

is_even(a)

The number 3 is: odd

### 2.

Add a condition to the previous code to check that the number is an integer.

In [34]:
a = 3
def is_even(a):
    
    print("The number", a, "is:")
    
    ###########################################
    # add your conditional statements here.
    
    # Check is integer
    if a %1==0:
        print('integer')
    else:
        print('non integer')
    
    # Check is even/odd
    if a==0:
        print('zero')
    elif 3%2==0:
        print('even')
    else:
        print('odd')
    ###########################################

is_even(a)

The number 3 is:
integer
odd

### 3. 
Create a function that takes 2 parameters. Given two integer numbers return their product only if the product is greater than 1000, else return their sum.

In [3]:
# Your code goes here
def prod_or_sum(a,b):
    if a*b < 1000:
        return a*b
    else:
        return a+b

## Lists

### 4.
Concatenate two list index-wise

In [7]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

# Your code goes here

# Expected output:
# ['My', 'name', 'is', 'Kelly']
[a+b for a, b in zip(list1,list2)]

['My', 'name', 'is', 'Kelly']

### 5.
Concatenate two list item to item to get the expected output

In [9]:
list1 = ["Hello ", "Bye "]
list2 = ["Dear", "Sir"]

# Your code goes here

# Expected output:
# ['Hello Dear', 'Hello Sir', 'Bye Dear', 'Bye Sir']
from itertools import product
[a+b for a, b in product(list1, list2)]

['Hello Dear', 'Hello Sir', 'Bye Dear', 'Bye Sir']

### 6.
Find number 20 in the following list and replace it by 200. Replace only the first occurrence

In [2]:
mylist = [5, 10, 15, 20, 25, 50, 20]

# Your code goes here

# Expected output:
# [5, 10, 15, 200, 25, 50, 20]
for i, v in enumerate(mylist):
    if v == 20:
        mylist[i]=200
        break
mylist

[5, 10, 15, 200, 25, 50, 20]

### 7.
Remove all 20s from the following list

In [20]:
mylist = [5, 10, 15, 20, 25, 50, 20]

# Your code goes here

# Expected output:
# [5, 10, 15, 25, 50]
while 20 in mylist:
    mylist.remove(20)
mylist

[5, 10, 15, 25, 50]

### 8. 
Write a program to iterate through the item in a list and in each iteration, print the sum of the current and previous number.

In [57]:
mylist = list(range(2, 20, 4))
print(mylist)

# Your code goes here

# Expected output:
# Current item: 2 previous item: 0 sum: 2
# Current item: 6 previous item: 2 sum: 8
# Current item: 10 previous item: 6 sum: 16
# Current item: 14 previous item: 10 sum: 24
# Current item: 18 previous item: 14 sum: 32
prev = 0
for i in mylist:
    if prev is not None:
        print(f'Current item: {i} previous item: {prev} sum: {prev+i}')
    prev = i
print('')
mylist = [0]+mylist
[print(f'Current item: {i} previous item: {prev} sum: {prev+i}') for prev,i in zip(mylist, mylist[1:])]
pass

[2, 6, 10, 14, 18]
Current item: 2 previous item: 0 sum: 2
Current item: 6 previous item: 2 sum: 8
Current item: 10 previous item: 6 sum: 16
Current item: 14 previous item: 10 sum: 24
Current item: 18 previous item: 14 sum: 32

Current item: 2 previous item: 0 sum: 2
Current item: 6 previous item: 2 sum: 8
Current item: 10 previous item: 6 sum: 16
Current item: 14 previous item: 10 sum: 24
Current item: 18 previous item: 14 sum: 32

# Dictionaries

### 9.
Given the following list of dictionary, create a new dictionary  containing the salary for each name

In [21]:
sampleDict = [{
      "name": "Kelly",
      "age":25,
      "salary": 1000,
      "city": "New york"
    },{
      "name": "Ben",
      "age":30,
      "salary": 8000,
      "city": "Barcelona"
    },{
      "name": "Ruben",
      "age":18,
      "salary": 1200,
      "city": "Sabadell"
    }]

# Your code goes here

# Expected output:
# {'Kelly': 1000, 'Ben': 8000, 'Ruben': 1200}
{x['name']:x['salary'] for x in sampleDict}

{'Kelly': 1000, 'Ben': 8000, 'Ruben': 1200}

### 10.
Get the subject with the minimum score on the following dictionary

In [60]:
scores = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

# Your code goes here

# Expected output:
# Math
sorted(scores, key=lambda x: scores[x])[0]

'Math'

## Loops

### 11.
Find the average of a list of numbers. Use a for loop to iterate over all elements

In [66]:
mylist = [5, 32, 567, 67, 98, 0, 5, 234, 6, 7 ,21, 9, 32, 1]
print(mylist)

n = len(mylist)

print(n)

average = 0

# your code goes here
for z in mylist:
    average+=z/n
print(average)
average = 0
for z in mylist:
    average+=z
print(average/n)
    
from numpy import mean
print(mean(mylist))

[5, 32, 567, 67, 98, 0, 5, 234, 6, 7, 21, 9, 32, 1]
14
77.42857142857143
77.42857142857143
77.42857142857143

### 12.
Find the highest number of the list mylist

In [67]:
mylist = [5, 32, 567, 67, 98, 0, 5, 234, 6, 7 ,21, 9, 32, 1]
max(mylist)

567

### 13.
Print multiplication table form 1 to 10

In [69]:
# Your code goes here

# Expected output:
# 1  2 3 4 5 6 7 8 9 10 
# 2  4 6 8 10 12 14 16 18 20 
# 3  6 9 12 15 18 21 24 27 30 
# 4  8 12 16 20 24 28 32 36 40 
# 5  10 15 20 25 30 35 40 45 50 
# 6  12 18 24 30 36 42 48 54 60 
# 7  14 21 28 35 42 49 56 63 70 
# 8  16 24 32 40 48 56 64 72 80 
# 9  18 27 36 45 54 63 72 81 90 
# 10 20 30 40 50 60 70 80 90 100 
for a in range(1,11):
    print(a, end='  ')
    for b in range(2,11):
        print(a*b, end=' ')
    print()

1  2 3 4 5 6 7 8 9 10
2  4 6 8 10 12 14 16 18 20
3  6 9 12 15 18 21 24 27 30
4  8 12 16 20 24 28 32 36 40
5  10 15 20 25 30 35 40 45 50
6  12 18 24 30 36 42 48 54 60
7  14 21 28 35 42 49 56 63 70
8  16 24 32 40 48 56 64 72 80
9  18 27 36 45 54 63 72 81 90
10  20 30 40 50 60 70 80 90 100

## List Comprehensions

### 14.
Create a list containing all possible combinations of elements between list1 and list2 in which the elements are not equal

In [27]:
list1 = [10, 20, 30]
list2 = [30, 10, 50]

# Your code goes here

# Expected output:
# [[10, 30], [10, 50], [20, 30], [20, 10], [20, 50], [30, 10], [30, 50]]
[[a,b] for a,b in product(list1, list2)]

[[10, 30],
 [10, 10],
 [10, 50],
 [20, 30],
 [20, 10],
 [20, 50],
 [30, 30],
 [30, 10],
 [30, 50]]

### 15.
Create a list that contains all the elements in list l2 which are not in list l1. Do it first using a for loop and then using list comprehensions

In [33]:
l1 = [1, 87, 45, 21, 7, 6, 234, 5, 0, 98, 65, 5, 2]
l2 = [5, 32, 567, 67, 98, 0, 5, 234, 6, 7 ,21, 9, 32, 1]

# Your code goes here
l3 = []
for i in l2:
    if i not in l1:
        l3.append(i)
print(l3)
print([x for x in l2 if x not in l1])
print(set(l2)-set(l1))

[32, 567, 67, 9, 32]
[32, 567, 67, 9, 32]
{32, 9, 67, 567}

## Functions

### 16.
Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.

In [81]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

# Your code goes here

# Expected output:
# {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}
out1 = dict()
for i in sample_list:
    out1[i] = out1.get(i,0)+1

from collections import Counter
out2=dict(Counter(sample_list))

from collections import defaultdict
out3 = defaultdict(lambda: 0)
for i in sample_list:
    out3[i]+=1
out3 = dict(out3)

print(out1)
print(out2)
print(out3)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}
{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}
{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

### 17.
Create a function that iterates through a given list and checks if a given element exists as a keyâ€™s value in a dictionary. If not, delete it from the list. Both the list and the dictionary are passed as arguments

In [90]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

# Your code goes here

def func(l, d):
    vals = d.values()
    for i in l:
        if i not in vals:
            l.remove(i)
# Expected output:
# [47, 69, 76, 97]
func(roll_number, sample_dict)
roll_number

[47, 69, 76, 95, 97]

### 18.
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False. Try it with the following lists

In [93]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

# Your code goes here
def func(x):
    return x[0]==x[-1]
# Expected output for numbers_x:
# True
print(func(numbers_x))
# Expected output for numbers_y:
# False
print(func(numbers_y))

True
False

### 19.
Factorial: The factorial of a non-negative integer $n$, denoted by $n!$, is the product of all positive integers less than or equal to $n$.  Complete the function below so that it return the factorial of n

In [7]:
def factorial(n):
    if n in (0,1):
        return n
    else:
        return n * factorial(n-1)
factorial(10)

3628800

### 20.
The Fibonacci Sequence is the series of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...

The general rule to compute the sequence is very simple: The next number is found by adding up the two numbers before it and fib1(0) = 0 and fib1(1) = 1. Complete the function below.

In [1]:
def fib1(n):
    fib = 0
    # Your code goes here
    if n in (0, 1):
        return n
    else:
        return fib1(n-1) + fib1(n-2)

[(x,fib1(x)) for x in range(15)]

[(0, 0),
 (1, 1),
 (2, 1),
 (3, 2),
 (4, 3),
 (5, 5),
 (6, 8),
 (7, 13),
 (8, 21),
 (9, 34),
 (10, 55),
 (11, 89),
 (12, 144),
 (13, 233),
 (14, 377)]

1